@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .btn-next {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
  }
  .btn-next:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
  .highlighted {
    background-color: yellow;
    font-weight: bold;
}
