@tailwind base;
@tailwind components;
@tailwind utilities;


.my-custom-style {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 1.5rem;
    border-width: 2px;
    border-color:  #015637;
     margin: 20px;
    outline: none;
    padding: 0.75rem;
  }
  
  .my-custom-style:hover {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .my-custom-style:focus {
    box-shadow: 0 0 0 3px rgba(52, 211, 153, 0.5);
  }
  .my-custom-style .text {
    font-size: 0.875rem;
  }
  /* Style CSS Normal */
.custom-input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 9999px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
    text-align: right;
}

.custom-input:focus {
  border-color:  #00863c;
  outline: none;
 text-align: right;
}

.custom-button {
  background-color:  #00863c;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.custom-button:hover {
  background-color:  #00863c;
}

.search-icon {
  width: 1.5rem; /* Ajustez la largeur en fonction de vos besoins */
  height: 1.5rem; /* Ajustez la hauteur en fonction de vos besoins */
  /* Ajoutez d'autres styles si nécessaire */
}

/* Style pour le chemin du SVG avec largeur et hauteur */
.search-icon-path {
  width: 1.5rem; /* Ajustez la largeur en fonction de vos besoins */
  height: 1.5rem; /* Ajustez la hauteur en fonction de vos besoins */
}
.button-style2 {
  background-color: #fff;
  border: 2px solid #00863c;
  padding: 1.5rem;
  justify-content: right;
  color: #000;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 1rem;
  width: 100%;
}

.button-style2:hover {
  background-color: #00863c;
  color: #fff;
  box-shadow: 0 0 10px rgba(49, 216, 110, 0.5);
}


.input-container {
  display: flex;
  justify-content: center;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #e2e8f0; /* Utilisez la couleur de bordure souhaitée */
  color: #4a5568; /* Utilisez la couleur de texte souhaitée */
  font-size: 0.6rem; /* Ajustez la taille de police selon vos besoins */
  padding: 1.25rem; /* Ajustez le rembourrage selon vos besoins */
}

